ul {
  text-align: center;
}

nav {
  background-color: #6439ff;
  font-family: "Chakra Petch", Helvetica, Arial, Lucida, sans-serif;
}

li a {
  color: #ff4d00;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
}
