<!-- Show when user is authenticated -->
<ng-container
  *ngIf="auth?.isAuthenticated$ | async as loggedIn; else showAuthOptions"
>
  <ng-container *ngIf="loggedIn">
    <button *ngIf="auth?.user$ | async as user">Hello, {{ user.name }}</button>
    <button (click)="logout()">Logout</button>
  </ng-container>
</ng-container>

<!-- Show when user is NOT authenticated -->
<ng-template #showAuthOptions>
  <button (click)="login()">Login</button>
  <button (click)="signup()">Sign Up</button>
</ng-template>
