<ng-container *ngIf="isAuthenticated$ | async as isAuth">
  <section *ngIf="isAuth" class="players">
    <div class="filters">
      <input
        [(ngModel)]="filters.name"
        placeholder="Filter by name"
        (ngModelChange)="applyFilters()"
      />
      <input
        [(ngModel)]="filters.club"
        placeholder="Filter by club"
        (ngModelChange)="applyFilters()"
      />
      <input
        [(ngModel)]="filters.position"
        placeholder="Filter by position"
        (ngModelChange)="applyFilters()"
      />

      <button (click)="downloadCSV()">Download CSV</button>
      <button (click)="triggerFileInput()">Upload CSV</button>
      <input
        type="file"
        #fileInput
        accept=".csv"
        style="display: none"
        (change)="uploadCSV($event)"
      />

      <button [routerLink]="['/add-player']">
        Add Player <i class="material-icons">add</i>
      </button>
    </div>

    <app-player-card [Players]="Players"></app-player-card>

    <div class="pagination">
      <button
        (click)="goToPage(currentPage - 1)"
        [disabled]="currentPage === 1"
      >
        Previous
      </button>
      <span>Page {{ currentPage }} of {{ totalPages }}</span>
      <button
        (click)="goToPage(currentPage + 1)"
        [disabled]="currentPage === totalPages"
      >
        Next
      </button>
    </div>
  </section>
</ng-container>
