button {
  background-color: #ff4d00;
  border: rgb(255, 255, 255, 0.5) solid 2px !important;
  font-family: "Chakra Petch", Helvetica, Arial, Lucida, sans-serif;
  font-weight: 800;
  border-radius: 4px;
  color: white;
  width: 80px;
  float: right;
}
