<form [formGroup]="updateForm" (ngSubmit)="updatePlayer()">
  <div *ngFor="let field of inputFields">
    <label [for]="field.name">{{ field.label }}</label>
    <input
      [id]="field.name"
      [type]="field.type"
      [formControlName]="field.name"
    />
    <small
      *ngIf="
        updateForm.get(field.name)?.invalid &&
        updateForm.get(field.name)?.touched
      "
    >
      {{ field.label }} is required or invalid.
    </small>
  </div>
  <div class="buttons">
    <button type="submit" [disabled]="updateForm.invalid">Update Player</button>
    <button type="button" (click)="navigateToPlayerProfile()">Cancel</button>
  </div>
</form>
