.card {
  float: left;
  background: rgb(100, 57, 255, 0.5);
  border-radius: 10px;
  width: 300px;
  height: 105px;
  margin: 20px;

  img {
    width: 100px;
    height: 100px;
  }
}

.card-title {
  font-weight: bold;
  font-size: medium;
  color: #ff4d00;
  display: block;
  margin: 0;
  line-height: 1.2;
  font-family: "Chakra Petch", Helvetica, Arial, Lucida, sans-serif;
}

.little {
  font-size: small;
  color: white;
  display: block;
  font-weight: bold;
}

.card-body {
  padding-top: 5px;
}
