/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;

  background-image: url(../public/imgs/Group-141.png);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Chakra Petch", Helvetica, Arial, Lucida, sans-serif;
}
