button {
  background-color: #ff4d00;
  border: rgb(255, 255, 255, 0.5) solid 2px !important;
  font-family: "Chakra Petch", Helvetica, Arial, Lucida, sans-serif;
  font-weight: 800;
  border-radius: 4px;
  color: white;
  width: 80px;
}

.user-greeting {
  padding: 0.25rem 0.5rem;
  background-color: #ff4d00;
  color: #e2e2e2;
  border-radius: 8px;
  font-size: 0.85rem; // Smaller font
  font-weight: bold;
  animation: fadeIn 0.5s ease-in;
  margin-right: 5px;
  width: 100px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
